<!DOCTYPE html>
<html ng-app>
  <head>
    <title>PRIMES</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css">
  </head>
  <body ng-controller="MainCtrl" ng-click="hidemenu($event)">
    <section class="pane login" ng-class="{inview:true}">
      <article class="gray">
        <h1>Sign in</h1>
        <div>
          <label for="un">Username</label>
          <input type="text" id="un" placeholder="Username"
          ng-model="user.username">
          <label for="pw">Password</label>
          <input type="text" id="pw" placeholder="Password" ng-model="user.password">
          <input type="button" id="loginbutton" value="Login" ng-click="login()">
        </div>
      </article>
    </section>
    <section class="pane main" ng-class="{inview:state.loggedin}">
      <article class="left gray">
        <h1>Assignments</h1>
        <ol ng-hide="state.selectedclass==-1">
          <li class="card"
          ng-animate="'animate'"
          ng-repeat="assignment in user.data[state.selectedclass].assignments"
          ng-click="state.selectedassignment=$index">
            <figcaption>
              {{assignment.name}}
            </figcaption>
          </li>
        </ol>
      </article>
      <nav class="right">
        <h1 class="down">Me<span class="button" ng-click="state.menuvisible=!state.menuvisible" ng-class="{flipped:state.menuvisible}">
          <svg width="60" height="60">
            <polyline points="20,25 30,35 40,25" style="fill:none;stroke:black;stroke-width:2"></polyline>
          </svg> </span></h1>
        <aside ng-class="{inview:state.menuvisible}">
          <ol>
            <li class="ribbon">
              Account settings
            </li>
            <li class="ribbon" ng-click="logout()">
              Log out
            </li>
            <li class="ribbon">
              Help
            </li>
          </ol>
        </aside>
        <ol>
          <li class="ribbon" ng-repeat="class in user.data"
          ng-click="state.selectedclass=$index"
          ng-class="{active:state.selectedclass==$index}">
            {{class.name}}
          </li>
        </ol>
      </nav>
    </section>
    <section class="pane detail" ng-class="{inview:state.selectedassignment!=-1}">
      <article class="left">
        <h1 class="back"><span class="button" ng-click="state.selectedassignment=-1">
          <svg width="60" height="60">
            <polyline points="35,20 25,30 35,40" style="fill:none;stroke:black;stroke-width:2"></polyline>
          </svg> </span> {{user.data[state.selectedclass].assignments[state.selectedassignment].name}}</h1>
      </article>
      <nav class="right gray">
        <h1>Grading</h1>
        <ol></ol>
      </nav>
    </section>
    <script src="js/socket.io.min.js"></script>
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>
